form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

/* TODO: Why does it NOT work?*/
input:invalid {
  border: 2px solid red;
  background-color: red;
}

/* TODO: Why does it NOT work?*/
input:invalid {
  border: 10px solid green;
  background-color: green;
}

label {
  padding-right: 10px;
}
